/*
  SCRN HTML Template
  Version 6.0
  Copyright 2016 KLLR
  Website: http://themes.wearekllr.com
  Support: http://kllr.ticksy.com

	Contents:

  01. Typography
	02. Generic styles
	03. Buttons
	04. Separators
	05. Intro
	06. Navigation
	07. Work
	08. Services
	09. Pricing
  10. About
	11. Blog
	12. Contact
  13. 404 page
  14. Brian Custom
	15. Media queries
*/


/* * {
  border: 1px solid red;
} */


/******************************
 01. Typography
******************************/

@font-face {
  font-family: "Sabado";
  src: url("../fonts/SabadoRegular.otf");
}

@font-face {
  font-family: "MavenPro";
  src: url("../fonts/MavenPro.otf");
}

@font-face {
  font-family: "ADAM";
  src: url("../fonts/ADAM.otf");
}

section#work h6 {
  font-family: "Sabado";
  letter-spacing: 0.4em;
  font-size: 16px;
  text-transform: uppercase;
}

body,
p,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica Neue";
  color: #2c2c2c;
}

.intro-1 h1 {
  font-size: 70px;
  margin-top: 250px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-indent: 0.3em;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8) !important;
}

span.big-h1 {
  font-size: 10px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-indent: 0.15em;
  margin-bottom: 60px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #0082b8;
}


/******************************
 02. Generic styles
******************************/

body {
  position: relative;
  overflow-x: hidden;
}

section {
  position: relative;
  z-index: 2;
}

section header {
  text-align: center;
}

section header h2::after {
  background-color: #9c9c9c;
  content: "";
  height: 3px;
  width: 36px;
  display: block;
  margin: 28px auto;
}

section header p {
  color: rgba(1, 1, 1, 0.65);
  font-size: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "ADAM";
  letter-spacing: 0.05em;
}

section#work,
section#services,
section#about,
section#blog,
section#contact {
  padding: 130px 0 140px 0;
}


/* call to action */

.call-to-action {
  background: #f6f9fa;
  height: 340px;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.call-to-action h3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 25px;
}

.call-to-action p {
  color: #666;
  font-size: 18px;
}

.call-to-action .btn {
  margin-top: 52px;
}


/* social icons */

.social {
  margin-top: 40px;
}

.social a {
  background: #b8b8b8;
  color: #fff;
  text-align: center;
  padding-top: 3px;
  width: 26px;
  height: 26px;
  display: block;
  border-radius: 2px;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.social a:hover {
  opacity: 0.7;
}

p.tagline {
  color: #777;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}


/******************************
 03. Buttons
******************************/

.btn-default {
  background: #2c2c2c;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 16px 38px;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
}

.btn-default:hover {
  background-color: #2c2c2c;
  color: #fff;
  opacity: 0.7;
}

.btn-white {
  background-color: #fff;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.btn-white:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
}


/*******************************
 04. Separators
******************************/

.separator {
  text-align: center;
  position: relative;
  height: 750px;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.separator p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

div.parallax-mirror {
  z-index: 0 !important;
}


/******************************
 05. Intro
******************************/

#intro {
  position: relative;
  width: 100%;
  height: 93vh;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#intro h1,
#intro p {
  color: #fff;
}

.intro-1 {
  background-size: cover;
  background-position: center;
  text-align: center;
}

.intro-1 .intro-content {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.intro-1 p {
  font-size: 28px;
  margin: 20px 0;
  padding: 0 80px;
  letter-spacing: 0.2em;
  text-indent: 0.15em;
  font-family: "MavenPro";
  text-transform: uppercase;
  font-weight: bolder;
}

ul.social-intro {
  margin: 10px 0 0 0;
}

ul.social-intro a {
  font-size: 18px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  display: block;
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0.8;
}

ul.social-intro a:hover {
  opacity: 1;
}

ul.social-intro i {
  color: #fff;
  position: relative;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: top;
}

a.icn-facebook {
  background: #4d6ba2;
}

a.icn-twitter {
  background: #229ac6;
}

a.icn-dribbble {
  background: #f73187;
}

a.icn-g-plus {
  background: #de4936;
}

a.icn-linkedin {
  background: #1b87ba;
}

a.icn-instagram {
  background: #211f20;
}

a.icn-behance {
  background: #388bfc;
}

a.icn-vimeo {
  background: #21b9ea;
}

a.icn-youtube {
  background: #db282c;
}

a.icn-tumblr {
  background: #34475c;
}

a.icn-github {
  background: #171515;
}


/* intro 2 */

.intro-2 {
  background-size: cover;
  background-position: center;
  text-align: left;
}

.intro-2 .intro-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro-2 h1 {
  text-transform: none;
}

.intro-2 h1 span {
  font-size: 130px;
  margin-left: -10px;
}

.intro-2 p {
  font-size: 24px;
  margin-top: 30px;
  width: 60%;
}


/* intro video */

.intro-video .intro-overlay {
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-video.intro-1 .intro-content {
  padding-top: 10px;
  position: relative;
}


/******************************
 06. Navigation
******************************/

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 3px 1px rgba(255, 255, 255, 1);
  box-shadow: 0 4px 3px 1px rgba(255, 255, 255, 1);
  border-radius: 0;
  margin: 0;
  position: relative;
  z-index: 1000;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav>li>a {
  color: #2c2c2c;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 17px 40px;
}

.navbar-toggle .icon-bar {
  background: #2c2c2c;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}


/******************************
 07. Work
******************************/

#work {
  background-color: rgba(255, 255, 255, 1);
}

p.thumb-work-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px 0 9px 0;
}

p.thumb-work-desc {
  color: #777;
  margin-bottom: 45px;
}


/***** slider *****/

.slider-wrapper {
  margin-top: 65px;
}

.theme-default .nivoSlider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/***** filterable portfolio *****/

.filter-list {
  background-color: #f6f9fa;
  margin: 70px 0 40px 0;
  padding: 0;
}

li.filter {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin: 0;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}

li.filter:hover {
  background: #444444;
  color: #fff;
  cursor: pointer;
}

li.filter.on {
  background: #444444;
  color: #fff;
}

#work-container .mix {
  display: none;
}

#work-container a {
  display: block;
  position: relative;
}

#work-container a:hover .overlay {
  opacity: 1;
}

#work-container img {
  margin-bottom: 30px;
}

.overlay {
  background-color: rgba(1, 1, 1, 0.75);
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  display: -webkit-flex;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
}

.overlay-content {
  margin: auto auto;
}

.overlayText {
  color: rgba(255, 255, 255, 0.9);
  font-weight: lighter;
  text-transform: uppercase;
  margin: 10px;
  letter-spacing: 0.057em;
}

.overlay-content h3 {
  font-size: 26px;
  /* font-weight: 600; */
  text-transform: none;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.overlay-content p {
  font-size: 16px;
}


/***** single project *****/

.single-project {
  padding-top: 150px;
}

.single-project header {
  margin-bottom: 80px;
}

.single-project h1 {
  font-size: 60px;
}

.single-project p {
  color: #505050;
  margin: 40px 0;
  width: 100%;
}

.single-project-info {
  background: #f6f9fa;
  border: 1px solid #e9f0f3;
  padding: 30px;
}

.single-project-info hr {
  border-color: #dfdfdf;
  margin: 0 0 10px 0;
}

.single-project-info li {
  margin-bottom: 35px;
}

.single-project-info p {
  margin: 0;
}

p.project-side-title {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}


/******************************
 08. Services
******************************/

#services {
  background-color: #333435;
  padding-bottom: 110px !important;
}

#services h2,
#services h4,
#services p,
#services i {
  color: #fff;
}

#services header h2::after {
  background-color: #c0bdbd;
}

.services-list {
  text-align: center;
  margin-top: 150px;
}

.services-list i {
  font-size: 60px;
  margin-bottom: 20px;
}

.services-list h4 {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.services-list p {
  margin-bottom: 90px;
}


/******************************
 09. Pricing
******************************/

.pricing-tables {
  padding: 130px 0 180px 0;
}

.pricing-tables h3 {
  margin-bottom: 20px;
}

.pricing-tables header {
  text-align: center;
  margin-bottom: 110px;
}

.pricing-table {
  color: #fff;
  text-align: center;
  padding: 50px 15px;
  border-radius: 3px;
}

.pricing-table p,
.pricing-table li {
  color: #2c2c2c;
}

.pricing-table li {
  font-size: 18px;
  margin-bottom: 12px;
}

.pricing-table .btn {
  margin-top: 40px;
}

p.pt-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

p.pt-price {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 30px;
  margin-bottom: 0;
}

p.pt-price span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

p.pt-per {
  font-size: 13px;
  margin-top: -22px;
  margin-bottom: 40px;
}

.pt-1 {
  background-color: #f8f8f8;
}

.pt-2 {
  -webkit-box-shadow: 0 0 0 2px #2c2c2c;
  box-shadow: 0 0 0 2px #2c2c2c;
}

.pt-3 {
  background-color: #333435;
}

.pt-3 p,
.pt-3 li {
  color: #fff;
}


/******************************
 10. About
******************************/

#about {
  background-color: #fff;
}

#about header {
  margin-bottom: 80px;
}

.about-intro {
  margin-bottom: 0px;
}

.about-intro p {
  color: rgba(1, 1, 1, 1);
}


/***** Skills *****/

.skills header {
  text-align: center;
  margin-bottom: 70px !important;
}

p.skill-name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 4px;
}

.skill-bg {
  background: #f6f9fa;
  width: 100%;
  height: 30px;
  position: relative;
  z-index: 2;
}

.skill-bar {
  background: #b8b8b8;
  height: 30px;
  margin: -30px 0 0 0;
  position: relative;
  z-index: 3;
}

.skill-1 {
  width: 50%;
}

.skill-2 {
  width: 60%;
}

.skill-3 {
  width: 70%;
}

.skill-4 {
  width: 85%;
}

.skill-5 {
  width: 90%;
}


/***** Team *****/

.team {
  text-align: center;
  margin-top: 120px;
}

.team header {
  margin-bottom: 60px;
}

.team ul {
  margin-bottom: 18px;
}

.team li {
  margin: 0 4px;
  padding: 0;
}

.team img {
  margin-left: auto;
  margin-right: auto;
}

p.team-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 22px;
  margin-bottom: 0;
}

p.team-job {
  color: #777;
  margin-bottom: 20px;
}


/******************************
 11. Blog
******************************/

#blog {
  background-color: #fff;
  padding-bottom: 140px !important;
}

#blog header {
  margin-bottom: 120px;
}

.post-preview {
  background: #f8f8f8;
  padding: 30px 40px 40px 40px;
  margin-bottom: 60px;
}

.post-preview-image-1 {
  background: url(../images/post-preview-image-1.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 232px;
}

.post-preview-image-2 {
  background: url(../images/post-preview-image-2.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 232px;
}

.post-preview-image-3 {
  background: url(../images/post-preview-image-3.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 232px;
}

p.post-preview-date {
  color: #a0a0a0;
  font-size: 13px;
  margin-bottom: 0;
}

p.post-preview-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

a.read-more {
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-top: 24px;
}


/***** Single post *****/

.blog-intro {
  background: url(../images/intro-blog.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.blog-intro header {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-intro p {
  color: #fff;
}

.blog-nav {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 18px;
  position: absolute;
}

.blog-nav a {
  color: #fff;
}

.blog-nav-left {
  left: 0;
}

.blog-nav-right {
  right: 0;
}

.post-title {
  font-size: 80px;
  font-weight: 700;
}

.post-date {
  font-size: 18px;
}

.blog-post {
  padding: 60px 0 0 0;
}

.blog-post p {
  margin-bottom: 25px;
}

.blog-post img {
  margin: 10px 0 35px 0;
}

.blog-post hr {
  border-color: #eee;
  margin: 60px 0;
}

.blog-comments h5 {
  margin-bottom: 20px;
}

.blog-comments textarea.form-control {
  border: 2px solid #eee;
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.blog-comments hr {
  margin: 60px 0 0 0;
}

a.comment-reply-link {
  color: #0082b8;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  display: block;
}

.blog-comment {
  margin: 40px 0;
}

.comment-author-image {
  width: 70px;
  height: 70px;
  background: #0082b8;
}

.comment-author {
  font-weight: 700;
}

.comment-author span {
  color: #777;
  font-weight: 400;
  margin-left: 7px;
}


/******************************
 12. Contact
******************************/

#contact {
  background: #333435;
  color: #c0bdbd;
  padding-bottom: 0 !important;
}

#contact p,
#contact h2,
#contact h5 {
  color: #fff;
}

#contact header {
  margin-bottom: 50px;
}

#contact header h2::after {
  background-color: #fff;
}

#contact form {
  margin-top: 70px;
}

#contact label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

#contact .form-group {
  margin-bottom: 35px;
}

#contact .form-control {
  background-color: #f6f9fa;
  color: #2c2c2c;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact input.form-control {
  height: 50px;
}

#contact button:hover {
  color: #2c2c2c;
}

.contact-info {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.contact-info li {
  background-color: #3e3f40;
  border-radius: 3px;
  width: 230px;
  height: 230px;
  display: flex;
}

#bioPic {
  background-image: url("../images/Brian.jpg");
  background-size: cover;
}

.contact-info i {
  color: #a0a0a0;
  font-size: 50px;
  margin-bottom: 15px;
}

.contact-info .content {
  margin: auto auto;
}


/***** map *****/

#map {
  height: 400px;
  width: 100%;
  margin-top: 90px;
}

#map div {
  background-color: transparent !important;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}

div#d {
  background-color: #2c2c2c !important;
}

footer {
  background: #2c2c2c;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

footer p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

p.copyright {
  font-size: 14px;
  text-align: center;
  margin: 50px 0;
}

section#about p {
  font-family: "ADAM";
  color: rgba(1, 1, 1, 0.7);
  font-size: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}


/******************************
 13. 404 page
******************************/

.page-404 {
  background: url(../images/intro-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 98vh;
  position: relative;
  margin-top: -30px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.page-404-content {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.page-404-content h1 {
  color: #fff;
  font-size: 200px;
  font-weight: 600;
}

.page-404-content p {
  color: #fff;
  font-size: 50px;
}


/******************************
  14. Brian Custom
******************************/

.caption {
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}


/* NIVO SLIDER CSS */

.nivo-caption {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.7);
  padding: 20px;
  font-size: 1.4em;
  color: rgb(179, 59, 60);
  letter-spacing: 0.1em;
}

#mainAbout {
  margin-bottom: 120px;
}


/* ====== Tooltip ====== */

.tooltips {
  position: relative;
  display: inline-block;
}


/* Tooltip text */

.tooltips .tooltiptext {
  visibility: hidden;
  min-width: 410px;
  min-height: 400px;
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 141%;
  right: -249%;
  margin-left: -60px;
  background: url("../images/ikigai.jpg");
  background-size: cover;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltips:hover .tooltiptext {
  visibility: visible;
}

#ikigai {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-indent: 0.05em;
  color: black;
  transition: all 0.3s ease-in-out;
}

#ikigai:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(2px);
  transition: all 0.5s ease;
}

.noblur {
  -webkit-filter: blur(0px);
  transition: all 1s ease;
}


/* =================== */


/* EKKO-LIGHTBOX CSS */

.modal-dialog {
  width: 70% !important;
}

.modal-content {
  height: 90vh !important;
}

.ekko-lightbox-container {
  height: 100% !important;
}

.modal-title {
  text-align: center;
}


/* =================== */

.modal-body {
  height: 75vh !important;
}

.work-thumb {
  object-fit: cover;
  width: 360px;
  height: 340px;
}

#alyssaText {
  letter-spacing: 0.05em;
}

section#work p:first-of-type,
section#about p {
  text-align: justify;
  text-align-last: left;
}

.clickMessage {
  margin-top: 60px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: rgba(1, 1, 1, 0);
}

footer a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
}


/******************************
Float Shadow on the Nav Bar Links
******************************/

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 70%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/******************************
In-Line Anchor Styes
https://tympanus.net/codrops/2014/06/04/inspiration-for-inline-anchor-styles/
******************************/

.link-braces {
  position: relative;
  z-index: 1;
  /* needed for setting pseudo-element z-index */
  overflow: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.link-braces a {
  position: relative;
  display: inline-block;
  outline: none;
  color: rgba(23, 36, 105, 0.5);
  text-decoration: none;
  white-space: nowrap;
}

.link-braces a:hover {
  text-decoration: none;
}

.link-braces a::before,
.link-braces a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: anti-aliased;
}


/* Text scale */

.link-braces a {
  padding: 0 0.1em 0 0.3em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.link-braces a:hover {
  color: #a32f2f;
}

.link-braces a::before,
.link-braces a::after {
  position: absolute;
  top: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.link-braces a::before {
  left: 0em;
  top: -0.1em;
  content: "[";
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.link-braces a::after {
  right: -0.16em;
  top: -0.1em;
  content: "]";
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.link-braces a:hover::before,
.link-braces a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

section a:focus {
  color: rgba(1, 1, 1, 0.9);
  text-decoration: none;
}


/******************************
Footer Link Effect
https://tympanus.net/Development/CreativeLinkEffects/
******************************/

footer a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: lighter;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1em;
}

footer a:hover,
footer a:focus {
  outline: none;
  text-decoration: none;
  color: white;
}


/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */

.cl-effect-2 a {
  line-height: 22px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: rgba(51, 122, 183, 0.5);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: #28a2ee;
}


/******************************
 15. Media queries
******************************/

@media only screen and (max-width: 1200px) {
  .nav>li>a {
    padding: 15px 30px;
  }
  .single-project-info li {
    margin-bottom: 25px;
  }
  .contact-info li {
    height: 190px;
    width: 190px;
  }
  .contact-info p {
    font-size: 14px;
  }
  .page-404-content p {
    font-size: 40px;
  }
  .intro-1 h1 {
    font-size: 65px;
  }
  section#about p {
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .tooltips .tooltiptext {
    right: -321%;
  }
}

@media only screen and (max-width: 1075px) {
  .intro-1 h1 {
    font-size: 60px;
  }
  .intro-1 h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 992px) {
  section header p {
    font-size: 22px;
    letter-spacing: 0.04em;
  }
  .social {
    margin-top: 80px;
  }
  .separator {
    height: 60vh;
  }
  .separator p {
    font-size: 34px;
  }
  .call-to-action {
    text-align: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .pricing-table {
    margin-bottom: 30px;
  }
  .about-intro img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .team header {
    margin-bottom: 0px !important;
  }
  .team img {
    margin-top: 70px;
  }
  .post-preview {
    margin-bottom: 50px;
  }
  ul.social-footer {
    margin-bottom: 50px;
  }
  .nivo-caption {
    text-align: center;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 20px;
    font-size: 1.2em;
  }
  .intro-1 h1 {
    font-size: 50px;
  }
  #contact header {
    margin-bottom: 38px;
  }
  h2 {
    font-size: 52px;
    letter-spacing: 0.2em;
    margin-bottom: 40px;
  }
  section#about p {
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 26px;
  }
  .link-braces a::before {
    left: 0em;
    top: 0;
  }
  .link-braces a::after {
    right: -0.16em;
    top: 0.01em;
  }
  .tooltips .tooltiptext {
    right: -290%;
  }
}

@media only screen and (max-width: 768px) {
  .separator p {
    font-size: 28px;
  }
  .page-404-content p {
    font-size: 30px;
  }
  /**** intro ****/
  .intro-1 h1 {
    font-size: 40px;
  }
  .intro-1 .big-h1 {
    font-size: 100px;
  }
  .intro-1 p {
    font-size: 19px;
  }
  .intro-1 p {
    padding: 0;
  }
  .intro-2 h1 span {
    font-size: 100px;
  }
  .intro-2 h1 {
    font-size: 60px;
  }
  .intro-2 p {
    width: 100%;
  }
  .work-gallery {
    text-align: center;
  }
  .work-gallery img {
    margin-left: auto;
    margin-right: auto;
  }
  .single-project img {
    margin: 0 auto 30px auto;
  }
  .services-list p {
    margin-bottom: 60px;
  }
  section.team header {
    margin-bottom: 20px;
  }
  .team img {
    margin-top: 50px;
  }
  p.post-title {
    font-size: 55px;
  }
  .col-centered {
    display: block;
  }
  .contact-info {
    display: block;
  }
  .contact-info li {
    width: 100%;
    margin-bottom: 30px;
  }
  .modal-dialog {
    margin: 10px auto;
  }
  .nivo-caption {
    text-align: center;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 14px;
    font-size: 0.9em;
  }
  section header p {
    font-size: 18px;
    letter-spacing: 0.04em;
  }
  h2 {
    font-size: 46px;
    letter-spacing: 0.1em;
  }
  #about header {
    margin-bottom: 60px;
  }
  #contact header {
    margin-bottom: 35px;
  }
  section#work h6 {
    letter-spacing: 0.35em;
    font-size: 14px;
  }
  section#work,
  section#services,
  section#about,
  section#blog,
  section#contact {
    padding: 100px 0 105px 0;
  }
  section#about p {
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .link-braces a::before {
    left: -0.1em;
    top: 0.01em;
  }
  .link-braces a::after {
    right: -0.2em;
    top: 0.011em;
  }
  .tooltips .tooltiptext {
    right: -325%;
  }
}

@media only screen and (max-width: 592px) {
  .intro-1 h1 {
    font-size: 30px;
  }
  .intro-1 .big-h1 {
    font-size: 90px;
  }
  .intro-1 p {
    font-size: 18px;
  }
  .intro-2 h1 span {
    font-size: 80px;
  }
  .intro-2 h1 {
    font-size: 30px;
  }
  .intro-2 p {
    font-size: 18px;
  }
  .nivo-caption {
    text-align: center;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 13px;
    font-size: 0.9em;
  }
  h2 {
    font-size: 42px;
    letter-spacing: 0.05em;
  }
  #about header {
    margin-bottom: 40px;
  }
  #contact header {
    margin-bottom: 30px;
  }
  section#work h6 {
    letter-spacing: 0.3em;
    font-size: 12px;
  }
  section header p {
    font-size: 18px;
    letter-spacing: 0.03em;
  }
  section#about p {
    font-size: 13px;
    letter-spacing: 0.05em;
  }
  .link-braces a::before {
    left: -0.1em;
    top: 0.016em;
  }
  .link-braces a::after {
    right: -0.25em;
    top: 0.015em;
  }
  .separator p {
    font-size: 22px;
  }
  .tooltips .tooltiptext {
    right: -363%;
  }
  li.filter {
    padding: 16px;
  }
}

@media only screen and (max-width: 510px) {
  ul.social-intro li {
    margin-bottom: 8px;
  }
  .page-404-content p {
    font-size: 30px;
  }
  h2 {
    font-size: 35px;
  }
  .separator {
    height: 45vh;
  }
  section#work,
  section#about,
  section#contact {
    padding: 70px 0 80px 0;
  }
  #intro {
    height: 73vh;
  }
  .separator p {
    font-size: 18px;
  }
  .link-braces a::before {
    left: -0.1em;
    top: 0.05em;
  }
  .link-braces a::after {
    right: -0.25em;
    top: 0.05em;
  }
}

@media only screen and (max-width: 480px) {
  .separator p {
    font-size: 16px;
  }
  ul.social-intro {
    margin-top: 300px;
  }
  .intro-1 .intro-content {
    padding-top: 10px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
    -webkit-transform: none;
  }
  .intro-1 h1 {
    font-size: 32px;
    margin-top: 45px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
  }
  .parallax p {
    font-size: 30px;
  }
  .page-404-content h1 {
    font-size: 120px;
  }
  .nivo-caption {
    text-align: center;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 12px;
    font-size: 0.8em;
  }
  section header p {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 15px;
  }
  .intro-1 p {
    font-size: 22px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  #contact header {
    margin-bottom: 20px;
  }
  section#work {
    padding: 65px 0 65px 0;
  }
  li.filter {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 10px;
  }
  section header h2::after {
    margin: 10px auto;
  }
  .filter-list {
    margin: 40px 0 30px 0;
  }
  .clickMessage {
    margin-top: 25px;
  }
  ul {
    margin-bottom: 0px;
  }
  .about-intro img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  section#work h6 {
    letter-spacing: 0.2em;
    font-size: 10px;
  }
}

@media only screen and (max-width: 380px) {
  #intro {
    height: 91vh;
  }
  .intro-1 p {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  .intro-1 h1 {
    font-size: 24px;
    letter-spacing: 0em;
  }
  .nivo-caption {
    text-align: center;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 10px;
    font-size: 0.7em;
  }
  section header p {
    font-size: 11px;
  }
  h2 {
    font-size: 24px;
  }
  .separator {
    height: 45vh;
  }
  section#work,
  section#about,
  section#contact {
    padding: 30px 0 30px 0;
  }
  section#about header {
    margin-bottom: 15px;
  }
  #contact form {
    margin-top: 15px;
  }
  #contact .form-group {
    margin-bottom: 15px;
  }
  section#about p {
    font-size: 13px;
    line-height: 18px;
  }
  .link-braces a::before {
    left: -0.1em;
    top: -0.1em;
  }
  .link-braces a::after {
    right: -0.25em;
    top: -0.1em;
  }
  ul.social-intro {
    margin-top: 350px;
  }
  .tooltips .tooltiptext {
    min-width: 300px;
    min-height: 300px;
    right: -261%;
  }
}

@media only screen and (max-width: 322px) {
  .intro-1 h1 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  ul.social-intro {
    margin-top: 280px;
  }
}